
<div class="box">

	<div id='create_post'>

		<form method="POST" action="/create_post">
			<label for="newpost">New Post</label>
			<!-- 	<input type="text" name="[post]title"> -->
			<textarea name= "body"></textarea>
			<!-- who created the post/ hidden text will tell  -->
			<!-- <input type= "hidden" value=<#%current_user.id%> name="[post]user_id"> -->
			<input type="submit">
		</form>
	</div>

</div>