
	<div id="content-area">

	<h1>Feed: See a page with 10 most recent posts</h1>
		<ul class="post">
	<% @post.each do |p| %>
			<li><%= p.username %></li>
			<li><%= p.created %></li>
			<li><%= p.body %></li>
		</ul>
		<% end %>
	</div>