<div id="home-greeting">
	<h2>DVQ - Social Media Made Easy</h2>
</div>

<div id="prompt">
	<button class="button" id="login">
		Log in
	</button>

	<button class="button" id="signup-button">
			Sign up 
	</button>
</div>

	<div class="opbackground" id="sign-in">
		<div class="home-form">
			<form method='POST' action='/sign_in'>
				
	  		<label for="username">Username</label>
	  		<input type="text" name="username">
	  		
	  		
	  		
	  		<label for="password">Password</label>
	  		<input type="password" name="password">
	  		
	  		
	  		<input id="submit" type="submit">

				<button class="esc">Close</button>
			</form>
		</div>
	</div>


<div class="opbackground" id="sign-up">
	<div class="home-form">
		<form method="POST" action="/signup"> 
		
		<label for="fname">First Name: </label>
		<input type="text" name="fname">
		
		
		<label for="lname">Last Name: </label>   
		<input type="text" name="lname">
		 
		<label for="email">Email: </label>
		<input type="email" name="email">
		
		<label for="username">Username: </label>
		<input type="text" name="username">
		
		
		<label for="password">Password: </label>   
		<input type="text" name="password"></input>
			   
		<input id="submit" type="submit"> 	
		<button class="esc">Close</button> 
		</form>
	</div>
</div>

<!-- ============================================

<div id="delete-post">

	<form method="POST" action="/delete-post">
		<input type="hidden" name="_method" value="DELETE">
		<input type="submit"  value="Delete">
	</form>

</div> -->

