<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<title>DVQ</title>
	<script src="/js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>
<body>

 <!-- nav bar form (sign out button) -->
  <form method='post' action='/signout'>
    <input type='submit' name='signout' value='Sign Out'>
  </form>

<% if flash[:notice] %>
    <div class="flash notice">
      <%=flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="flash alert">
      <%=flash[:alert] %>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>