<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<title>DVQ</title>
	<script src="/js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>
<body>

  <% yield %>

</body>
</html>