<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/css/feed.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type= 'text/css'>
	<title>DVQ</title>

	<script src="js/script.js"></script>
</head>


<body>
  <div class="color">
    <div class="font ">
        <nav>
          <ul >
            <li><a href="/feed">Recent Posts</a></li>
            <li><a href="/create_post">Create Post</a></li>
            <li><a href="/account_details">Account Details</a> </li>
            <li><a href="/signout">Sign Out</a></li>
            </ul>
        </nav>
      </div>
  </div>
<!-- <li><a href="/create_post">followers</a></li> -->
<!-- <div class="box">
<h2> micro blog</h2>
  </div> -->
<% if flash[:notice] %>
    <div class="flash-notice">
      <%=flash[:notice] %>
    </div>
<% elsif flash[:alert] %>
    <div class="flash-alert">
      <%=flash[:alert] %>
    </div>
<% else %>
<% end %>

  <%= yield %> 

</body> 
</html>