<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="css/feed.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type= 'text/css'>
	<title>DVQ</title>

	<script src="js/script.js"></script>
</head>


<body>
  <div class="color">
    <div class="font ">
        <nav>
          <ul >
            <li><a href="/feed">newsfeed</a></li>
            <li><a href="/create_post">followers</a></li>
            <li><a href="/create_post">create post</a></li>
            <li><a href="/">sign up</a> </li>
            <li><a href="account_details">account details</a> </li>
            </ul>
        </nav>
      </div>
  </div>
<!-- <div class="box">
<h2> micro blog</h2>
  </div> -->
<% if flash[:notice] %>
    <div class="flash notice">
      <%=flash[:notice] %>
    </div>
<% end %>
<% if flash[:alert] %>
    <div class="flash alert">
      <%=flash[:alert] %>
    </div>
<% end %>

  <%= yield %> 

</body> 
</html>