*{
	margin: 0;
	padding: 0;
}

#home-greeting{
	width: 100%;
	height: 120px;
	padding-top: 100px;
	text-align: center;
	color: #fff;
}

#prompt{
	max-width: 40%;
	margin: 0 auto;
	margin-top: 200px;
}

.button{
    width:200px;
    height:40px;
    font-size: 16px;
    background-color:blue; 
    color: white;
    text-align: center;
    margin-left: 10px;
}

.opbackground{
    display:none;
    position:fixed;
    left:0;
    top:0;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    width:100%;
    height:100%;
}

.home-form{
	width: 300px;
	min-height: 130px;
	margin: 30vh auto;
	background: grey;
	padding: 20px;
}

.home-form input{
	width: 100%;
	clear: both;
}

#submit{
	width: 100px;
	margin-top: 20px;
}

.esc{
	width: 100px;
	float: right;
	margin: 20px 20px 20px 0;
}